%h1 Add new Quest.
-semantic_form_for @quest do |f|
  =f.input :name
  =f.input :description
  =f.input :objective
  -#-f.inputs :name=>"Objective", :for=>:objectives do |o|
    -#=o.input :name
    -#=o.input :noun
    -#=o.input :amount
    -#=o.input :verb
  =f.commit_button
