/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 15, ../../../app/stylesheets/screen.scss */
.tip_detail {
  height: 500px;
  padding: 40px;
}

/* line 19, ../../../app/stylesheets/screen.scss */
#tip .tip_detail {
  height: 400px;
  padding: 0px;
}

/* line 23, ../../../app/stylesheets/screen.scss */
#xp_bar {
  width: 100%;
  height: 7px;
  background-color: #eef9fa;
  margin-bottom: 10px;
}

/* line 29, ../../../app/stylesheets/screen.scss */
blockquote {
  margin-top: 10px;
  margin-left: 40px;
}

/* line 33, ../../../app/stylesheets/screen.scss */
#washout {
  position: fixed;
  height: 1800px;
  width: 3000px;
  display: none;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  -khtml-opacity: 0.7;
  opacity: 0.7;
  background-color: #eef9fa;
  top: 0px;
  right: 0px;
  z-index: 3500;
}

/* line 44, ../../../app/stylesheets/screen.scss */
#tip {
  display: none;
  box-shadow: 1 2px 3px #CCC;
  -moz-box-shadow: 1 2px 3px #CCC;
  -webkit-box-shadow: 1 2px 3px #CCC;
  background-image: url(/images/tip-background.jpg);
  height: 500px;
  width: 439px;
  font-size: 1.2em;
  color: white;
  position: absolute;
  top: 5px;
  padding-top: 2px;
  margin-right: auto;
  margin-left: auto;
  z-index: 9999;
}

/* line 61, ../../../app/stylesheets/screen.scss */
#tip .close {
  width: 435px;
  text-align: right;
  cursor: pointer;
}

/* line 66, ../../../app/stylesheets/screen.scss */
#tip .tip {
  padding: 20px;
  width: 400px;
}

/* line 70, ../../../app/stylesheets/screen.scss */
div.tip_detail h2 {
  padding-bottom: 2px;
}

/* line 71, ../../../app/stylesheets/screen.scss */
div.tip_detail .paragraph {
  margin-top: 11px;
}

/* line 73, ../../../app/stylesheets/screen.scss */
#level {
  float: right;
  padding-top: 3px;
  color: #bce18a;
}

/* line 78, ../../../app/stylesheets/screen.scss */
.image_thumb {
  padding: 10px;
}

/* line 79, ../../../app/stylesheets/screen.scss */
#users th {
  color: #1183b0;
  text-align: left;
}

/* line 83, ../../../app/stylesheets/screen.scss */
#users td, #users th {
  text-align: left;
  margin: 10px;
  padding: 3px 34px;
}

/* line 88, ../../../app/stylesheets/screen.scss */
div.complete {
  height: 7px;
  background-color: #bce18a;
}

/* line 92, ../../../app/stylesheets/screen.scss */
.error {
  color: #990000;
  font-weight: bold;
  padding: 30px;
}

/* line 97, ../../../app/stylesheets/screen.scss */
.thumb {
  width: 48px;
  height: 48px;
}

/* line 100, ../../../app/stylesheets/screen.scss */
#pick {
  font-size: 24pt;
  color: #1183b0;
  margin-left: 125px;
  margin-top: 11px;
  margin-bottom: -39px;
}

/* line 123, ../../../app/stylesheets/screen.scss */
#new_user input[type="text"], #new_user input[type="password"] {
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
  height: 20px;
  width: 250px;
}

/* line 128, ../../../app/stylesheets/screen.scss */
#new_user .profile {
  display: none;
}

/* line 131, ../../../app/stylesheets/screen.scss */
.green {
  font-size: 16pt;
  background-color: #bce18a;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  text-align: center;
  width: 140px;
  display: inline-block;
  margin: 4px;
  padding: 14px 8px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  background-image: -moz-linear-gradient(100% 100% 90deg, #bce18a, #245900);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#bce18a), to(#245900));
}

/* line 153, ../../../app/stylesheets/screen.scss */
.xp_value {
  display: none;
}

/* line 154, ../../../app/stylesheets/screen.scss */
#flashBubble {
  font-size: 12px;
}

/* line 155, ../../../app/stylesheets/screen.scss */
#sales {
  height: 400px;
}

/* line 158, ../../../app/stylesheets/screen.scss */
.upload_form {
  display: none;
}

/* line 160, ../../../app/stylesheets/screen.scss */
.action_wrapper input, .action_wrapper input.file, .action_wrapper button {
  font-size: 10px;
  height: 24px;
  width: 200px;
}

/* line 163, ../../../app/stylesheets/screen.scss */
.action_wrapper input:submit {
  font-size: 10px;
  height: 24px;
  width: 100px;
}

/* line 166, ../../../app/stylesheets/screen.scss */
.comment_description {
  width: 450px;
  height: 50px;
}

/* line 171, ../../../app/stylesheets/screen.scss */
.tip_detail a, .tip_detail a:visited, .tip_detail a:hover, .tip_detail a:active {
  color: #e7f9e2;
  font-weight: bold;
}

/* line 176, ../../../app/stylesheets/screen.scss */
.status_image, .profile_image {
  cursor: pointer;
}

/* line 178, ../../../app/stylesheets/screen.scss */
a {
  cursor: pointer;
}

/* line 179, ../../../app/stylesheets/screen.scss */
.image_wrapper {
  padding: 0px;
  margin: 0px;
  text-align: center;
  top: 0px;
  height: 0px;
  background-color: black;
  position: fixed;
}

/* line 206, ../../../app/stylesheets/screen.scss */
#tos {
  padding: 18px 0px;
  text-align: justify;
  text-justify: newspaper;
  font-size: 11px;
}

/* line 212, ../../../app/stylesheets/screen.scss */
#tos h2 {
  margin-bottom: 4px;
  color: black;
  font-size: 12px;
  font-weight: bold;
}

/* line 218, ../../../app/stylesheets/screen.scss */
.quests {
  padding-left: 139px;
  padding-top: 62px;
  height: 91px;
}

/* line 223, ../../../app/stylesheets/screen.scss */
.form {
  padding-top: 0px;
}

/* line 227, ../../../app/stylesheets/screen.scss */
#what {
  color: #727c80;
  font-weight: bold;
  padding-top: 21px;
  margin-bottom: -10px;
  padding-left: 25px;
}

/* line 234, ../../../app/stylesheets/screen.scss */
#ku_form {
  font-size: 16pt;
  background-image: url(/images/ku-panel.jpg);
  height: 268px;
  width: 664px;
}

/* line 241, ../../../app/stylesheets/screen.scss */
#everyones_updates {
  padding: 20px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  width: 620px;
  background-color: white;
  background: -webkit-gradient(linear, 0 0, 0 120, from(#eef9fa), to(white));
  background: -moz-linear-gradient(top, #bce18a 120, white);
  margin-top: 20px;
  margin-left: 2px;
  margin-bottom: 10px;
  -moz-box-shadow: 1px 1px 2px 1px #BBB;
  box-shadow: 1px 1px 2px 0px #BBB;
  -webkit-box-shadow: 1px 1px 2px 1px #BBB;
}

/* line 256, ../../../app/stylesheets/screen.scss */
.rocket {
  float: left;
}

/* line 257, ../../../app/stylesheets/screen.scss */
.others {
  float: left;
  padding: 16px 5px;
}

/* line 258, ../../../app/stylesheets/screen.scss */
.alert {
  position: fixed;
  top: -100px;
  left: 0px;
  width: 743px;
  padding: 10px;
  z-index: 9999;
  text-align: center;
  background-color: #7280A7;
  color: #222126;
}

/* line 263, ../../../app/stylesheets/screen.scss */
h2 {
  padding-top: 9px;
  color: #1183b0;
}

/* line 267, ../../../app/stylesheets/screen.scss */
.error {
  position: fixed;
  top: -100px;
  left: 0px;
  width: 743px;
  padding: 10px;
  z-index: 9999;
  text-align: center;
  background-color: #550000;
  color: #FFFFFF;
}

/* line 272, ../../../app/stylesheets/screen.scss */
.notice {
  position: fixed;
  top: -100px;
  left: 0px;
  width: 743px;
  padding: 10px;
  z-index: 9999;
  text-align: center;
  background-color: #7280A7;
  color: #222126;
}

/* line 277, ../../../app/stylesheets/screen.scss */
.panel {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-box-shadow: 1px 1px 3px #999;
  -webkit-box-shadow: 1px 1px 3px #999;
  color: #444;
  border: 1px solid #bce18a;
  background-color: white;
  padding: 30px;
  margin: 15px 0px;
}

/* line 287, ../../../app/stylesheets/screen.scss */
.errorExplanation {
  color: #EBC653;
}

/* line 290, ../../../app/stylesheets/screen.scss */
.errorExplanation p {
  padding-top: 20px;
}

/* line 294, ../../../app/stylesheets/screen.scss */
.errorExplanation ul {
  padding: 20px;
}

/* line 297, ../../../app/stylesheets/screen.scss */
.small {
  width: 600px;
}

/* line 300, ../../../app/stylesheets/screen.scss */
.bubbletip {
  font-size: 10pt;
}

/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 25, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 57, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 62, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 46, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 48, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 304, ../../../app/stylesheets/screen.scss */
body {
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  font-family: 'Helvetica';
  font-size: 12pt;
  background-image: url(/images/background.jpg);
  height: 100%;
}

/* line 312, ../../../app/stylesheets/screen.scss */
img.status {
  max-width: 240px, max-height:180px;
}

/* line 313, ../../../app/stylesheets/screen.scss */
.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 317, ../../../app/stylesheets/screen.scss */
.bar {
  background-color: #bce18a;
  width: 100%;
  height: 3px;
}

/* line 322, ../../../app/stylesheets/screen.scss */
a, a.visited, a.hover {
  text-decoration: none;
  font-weight: bold;
  color: #1183b0;
}

/* line 327, ../../../app/stylesheets/screen.scss */
.points {
  font-size: 8pt;
  color: #999;
  margin-top: 4px;
}

/* line 332, ../../../app/stylesheets/screen.scss */
.comments {
  font-size: 8pt;
  color: #999;
  margin: 10px;
}

/* line 337, ../../../app/stylesheets/screen.scss */
.detail {
  padding: 10px;
  height: 70px;
  width: 500px;
  vertical-align: top;
}

/* line 343, ../../../app/stylesheets/screen.scss */
.profile_picture {
  vertical-align: top;
  padding: 11px 0px;
}

/* line 347, ../../../app/stylesheets/screen.scss */
.info {
  font-size: 9pt;
  border-top: 2px solid #EEE;
  padding: 5px 0px 12px 0px;
}

/* line 352, ../../../app/stylesheets/screen.scss */
h1 {
  font-weight: bold;
  font-size: 32pt;
  font-weight: bold;
}

/* line 357, ../../../app/stylesheets/screen.scss */
.field {
  margin-top: 17px;
  margin-bottom: 7px;
}

/* line 362, ../../../app/stylesheets/screen.scss */
label {
  padding-top: 7px;
}

/* line 365, ../../../app/stylesheets/screen.scss */
input[type="text"], input[type="password"] {
  font-size: 18pt;
  padding: 5px;
  height: 30px;
  border: 1px solid #161d33;
}

/* line 371, ../../../app/stylesheets/screen.scss */
.clear {
  clear: both;
}

/* line 373, ../../../app/stylesheets/screen.scss */
button, .button {
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  font-size: 14pt;
  height: 46px;
  line-height: 1;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
}

/* line 385, ../../../app/stylesheets/screen.scss */
div.standout {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* line 390, ../../../app/stylesheets/screen.scss */
.light {
  color: #999;
}

/* line 394, ../../../app/stylesheets/screen.scss */
#win {
  margin-left: 20px;
  width: 540px;
}

/* line 398, ../../../app/stylesheets/screen.scss */
.user_profile {
  float: left;
}

/* line 402, ../../../app/stylesheets/screen.scss */
.clearfix {
  clear: both;
}

/* line 405, ../../../app/stylesheets/screen.scss */
.comment-box {
  background-color: white;
}

/* line 409, ../../../app/stylesheets/screen.scss */
input.file {
  width: 200px;
  height: 40px;
}

/* line 413, ../../../app/stylesheets/screen.scss */
#nav {
  font-size: 12px;
}

/* line 416, ../../../app/stylesheets/screen.scss */
#user-information {
  float: left;
  width: 248px;
  padding: 10px;
}

/* line 421, ../../../app/stylesheets/screen.scss */
#totals {
  float: left;
  margin-top: 10px;
  width: auto;
}

/* line 426, ../../../app/stylesheets/screen.scss */
#graph-container {
  float: right;
  width: 712px;
  clear: right;
  margin-bottom: 10px;
}

/* line 435, ../../../app/stylesheets/screen.scss */
.detail:hover {
  background-color: #F2F2F2;
}

/* line 439, ../../../app/stylesheets/screen.scss */
.action_wrapper {
  padding-bottom: 10px;
}

/* line 442, ../../../app/stylesheets/screen.scss */
.actions {
  font-size: 10px;
  vertical-align: text-bottom;
  padding-top: 5px;
}

/* line 447, ../../../app/stylesheets/screen.scss */
noborder {
  border: none;
}

/* line 450, ../../../app/stylesheets/screen.scss */
.clearFix {
  clear: both;
}

/* line 455, ../../../app/stylesheets/screen.scss */
body #container {
  background-color: #eef9fa;
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body #container {
  display: block;
}
/* line 459, ../../../app/stylesheets/screen.scss */
body #header, body #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  height: 100px;
  text-align: center;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #header, * html body #footer {
  overflow-x: hidden;
}
/* line 465, ../../../app/stylesheets/screen.scss */
body #footer a, body #footer a:visited, body #footer a:active {
  color: white;
  padding: 0px 10px;
}
/* line 469, ../../../app/stylesheets/screen.scss */
body #footer {
  font-size: 12px;
  padding-top: 20px;
  width: 100%;
  background-color: #176482;
  color: #DDD;
}
/* line 478, ../../../app/stylesheets/screen.scss */
body #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-top: 10px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #logo {
  overflow-x: hidden;
}
/* line 483, ../../../app/stylesheets/screen.scss */
body #topnav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #topnav {
  overflow-x: hidden;
}
/* line 487, ../../../app/stylesheets/screen.scss */
body #socialmedia {
  padding-top: 5px;
  padding-right: 13px;
  float: left;
}
/* line 493, ../../../app/stylesheets/screen.scss */
body #login a, body #login a:visited, body #login a:active {
  color: #999;
}
/* line 497, ../../../app/stylesheets/screen.scss */
body #login {
  padding: 2px;
  margin-right: 0px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  background-color: white;
  border: 1px solid #DDD;
  float: left;
  font-size: 11px;
  color: #999;
  vertical-align: top;
  width: 366px;
  text-align: center;
}
/* line 510, ../../../app/stylesheets/screen.scss */
body #login table {
  margin-left: 16px;
}
/* line 513, ../../../app/stylesheets/screen.scss */
body #links {
  padding: 10px 35px;
  float: right;
}
/* line 517, ../../../app/stylesheets/screen.scss */
body li {
  list-style: none outside none;
  padding: 10px 4px;
}
/* line 521, ../../../app/stylesheets/screen.scss */
body #links li {
  border-left: 1px solid #CCCCCC;
  border-right: 1px solid #FFFFFF;
  float: left;
  font-size: 12px;
  list-style: none outside none;
  padding: 0px 9px;
}
/* line 529, ../../../app/stylesheets/screen.scss */
body #links li.first {
  border-left: none;
  border-right: none;
}
/* line 533, ../../../app/stylesheets/screen.scss */
body #login input[type="text"], body #login input[type="password"] {
  border: 1px solid #DDD;
  font-size: 11px;
  height: 13px;
  width: 68px;
  color: #999;
  padding: 3px;
  margin-right: 5px;
}
/* line 537, ../../../app/stylesheets/screen.scss */
body #login input[type="image"] {
  height: auto;
  width: auto;
  border: none;
}
/* line 542, ../../../app/stylesheets/screen.scss */
body #container {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}
/* line 549, ../../../app/stylesheets/screen.scss */
body .details {
  padding: 5px 11px;
}
/* line 552, ../../../app/stylesheets/screen.scss */
body #signup {
  margin-bottom: 10px;
  box-shadow: 1 4px 3px #CCC;
  -moz-box-shadow: 1 4px 3px #CCC;
  -webkit-box-shadow: 1 4px 3px #CCC;
}
/* line 558, ../../../app/stylesheets/screen.scss */
body #sidebar {
  box-shadow: 0 1px 3px #CCC;
  -moz-box-shadow: 0 1px 3px #CCC;
  -webkit-box-shadow: 0 1px 3px #CCC;
  font-size: 13pt;
  margin-top: 15px;
  background-color: white;
  display: inline;
  float: left;
  margin-right: 0;
  width: 270px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #sidebar {
  overflow-x: hidden;
}
/* line 569, ../../../app/stylesheets/screen.scss */
body #content {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 670px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.2/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content {
  overflow-x: hidden;
}
