/* line 4, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 6, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%;
}

/* line 16, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}

/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" "";
}
/* line 45, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote:before, blockquote:after, q:before, q:after {
  content: "";
}

/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 22, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle;
}

/* line 24, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none;
}

/* line 10, ../../../app/stylesheets/screen.scss */
.error {
  color: #990000;
  font-weight: bold;
  padding: 30px;
}

/* line 15, ../../../app/stylesheets/screen.scss */
.thumb {
  width: 48px;
  height: 48px;
}

/* line 36, ../../../app/stylesheets/screen.scss */
.upload_form {
  display: none;
}

/* line 39, ../../../app/stylesheets/screen.scss */
.action_wrapper input, .action_wrapper input.file, .action_wrapper button {
  font-size: 10px;
  height: 24px;
  width: 200px;
}

/* line 42, ../../../app/stylesheets/screen.scss */
.action_wrapper input:submit {
  font-size: 10px;
  height: 24px;
  width: 100px;
}

/* line 45, ../../../app/stylesheets/screen.scss */
.status_image, .profile_image {
  cursor: pointer;
}

/* line 48, ../../../app/stylesheets/screen.scss */
.image_wrapper {
  padding: 0px;
  margin: 0px;
  text-align: center;
  top: 0px;
  height: 0px;
  background-color: black;
  position: fixed;
}

/* line 73, ../../../app/stylesheets/screen.scss */
.alert {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #7280A7;
  color: #222126;
}

/* line 78, ../../../app/stylesheets/screen.scss */
.error {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #550000;
  color: #FFFFFF;
}

/* line 83, ../../../app/stylesheets/screen.scss */
.notice {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  padding: 10px;
  text-align: center;
  background-color: #7280A7;
  color: #222126;
}

/* line 88, ../../../app/stylesheets/screen.scss */
.panel {
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  color: #444;
  background-color: #e7f9e2;
  padding: 30px;
  margin: 15px 0px;
}

/* line 95, ../../../app/stylesheets/screen.scss */
.errorExplanation {
  color: #EBC653;
}

/* line 98, ../../../app/stylesheets/screen.scss */
.errorExplanation p {
  padding-top: 20px;
}

/* line 101, ../../../app/stylesheets/screen.scss */
.errorExplanation ul {
  padding: 20px;
}

/* line 104, ../../../app/stylesheets/screen.scss */
.small {
  width: 600px;
}

/* line 18, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp label {
  font-weight: bold;
}
/* line 19, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0;
}
/* line 20, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp legend {
  font-weight: bold;
  font-size: 1.2em;
}
/* line 25, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  margin: 0.5em 0;
  background-color: white;
  padding: 5px;
}
/* line 26, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.title {
  font-size: 1.5em;
}
/* line 30, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input[type=checkbox], form.bp input.checkbox, form.bp input[type=radio], form.bp input.radio {
  position: relative;
  top: 0.25em;
}
/* line 32, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  margin: 0.5em 0;
  padding: 5px;
}
/* line 33, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp select {
  margin: 0.5em 0;
}
/* line 57, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp fieldset {
  border: 1px solid #cccccc;
}
/* line 60, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password],
form.bp textarea, form.bp select {
  border: 1px solid #bbbbbb;
}
/* line 62, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text:focus, form.bp input.title:focus, form.bp input[type=text]:focus, form.bp input[type=password]:focus,
form.bp textarea:focus, form.bp select:focus {
  border: 1px solid #666666;
}
/* line 46, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp input.text, form.bp input.title, form.bp input[type=text], form.bp input[type=password] {
  width: 300px;
}
/* line 48, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_form.scss */
form.bp textarea {
  width: 390px;
  height: 250px;
}

/* line 110, ../../../app/stylesheets/screen.scss */
body {
  margin-left: auto;
  margin-right: auto;
  background-attachment: fixed;
  font-family: 'Helvetica';
  font-size: 16pt;
  background-image: url(/images/background.jpg);
}

/* line 117, ../../../app/stylesheets/screen.scss */
.content {
  width: 960px;
  margin-left: auto;
  margin-right: auto;
}

/* line 121, ../../../app/stylesheets/screen.scss */
.bar {
  background-color: green;
  width: 100%;
  height: 3px;
}

/* line 126, ../../../app/stylesheets/screen.scss */
a, a.visited, a.hover {
  text-decoration: none;
  font-weight: bold;
  color: #161d33;
}

/* line 131, ../../../app/stylesheets/screen.scss */
.points {
  font-size: 8pt;
  color: #999;
  margin-top: 4px;
}

/* line 136, ../../../app/stylesheets/screen.scss */
.comments {
  font-size: 8pt;
  color: #999;
  margin: 10px;
}

/* line 141, ../../../app/stylesheets/screen.scss */
.detail {
  padding: 10px;
  height: 70px;
  width: 500px;
  vertical-align: top;
}

/* line 147, ../../../app/stylesheets/screen.scss */
.profile_picture {
  vertical-align: top;
  padding: 11px 0px;
}

/* line 151, ../../../app/stylesheets/screen.scss */
h1 {
  font-size: 24pt;
  font-weight: bold;
}

/* line 155, ../../../app/stylesheets/screen.scss */
.field {
  margin-top: 17px;
  margin-bottom: 7px;
}

/* line 160, ../../../app/stylesheets/screen.scss */
label {
  padding-top: 7px;
}

/* line 163, ../../../app/stylesheets/screen.scss */
input {
  font-size: 18pt;
  padding: 5px;
  height: 30px;
  border: 1px solid #161d33;
}

/* line 170, ../../../app/stylesheets/screen.scss */
button, .button {
  font-size: 14pt;
  height: 46px;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
}

/* line 185, ../../../app/stylesheets/screen.scss */
div.standout {
  margin-top: 30px;
  margin-bottom: 20px;
}

/* line 189, ../../../app/stylesheets/screen.scss */
.light {
  color: #999;
}

/* line 192, ../../../app/stylesheets/screen.scss */
#win {
  width: 700px;
}

/* line 195, ../../../app/stylesheets/screen.scss */
.user_profile {
  float: left;
}

/* line 199, ../../../app/stylesheets/screen.scss */
.clearfix {
  clear: both;
}

/* line 202, ../../../app/stylesheets/screen.scss */
.comment-box {
  background-color: white;
}

/* line 206, ../../../app/stylesheets/screen.scss */
input.file {
  width: 200px;
  height: 40px;
}

/* line 210, ../../../app/stylesheets/screen.scss */
#nav {
  font-size: 12px;
}

/* line 213, ../../../app/stylesheets/screen.scss */
#user-information {
  float: left;
  width: 248px;
}

/* line 217, ../../../app/stylesheets/screen.scss */
#totals {
  float: left;
  margin-top: 10px;
  width: auto;
}

/* line 222, ../../../app/stylesheets/screen.scss */
#graph-container {
  float: right;
  width: 712px;
  clear: right;
  margin-bottom: 10px;
}

/* line 228, ../../../app/stylesheets/screen.scss */
#pages {
  margin-left: 278px;
}

/* line 232, ../../../app/stylesheets/screen.scss */
.detail:hover {
  background-color: #F2F2F2;
}

/* line 235, ../../../app/stylesheets/screen.scss */
.detail:hover .actions {
  display: block;
}

/* line 239, ../../../app/stylesheets/screen.scss */
.action_wrapper {
  padding-bottom: 10px;
  height: 17px;
}

/* line 243, ../../../app/stylesheets/screen.scss */
.actions {
  display: none;
  font-size: 10px;
  vertical-align: text-bottom;
  padding-top: 5px;
}

/* line 249, ../../../app/stylesheets/screen.scss */
noborder {
  border: none;
}

/* line 252, ../../../app/stylesheets/screen.scss */
table {
  background-color: white;
}

/* line 255, ../../../app/stylesheets/screen.scss */
.clearFix {
  clear: both;
}

/* line 260, ../../../app/stylesheets/screen.scss */
body #container {
  width: 950px;
  margin: 0 auto;
  overflow: hidden;
  display: inline-block;
}
/* line 8, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/compass/stylesheets/compass/utilities/general/_hacks.scss */
body #container {
  display: block;
}
/* line 262, ../../../app/stylesheets/screen.scss */
body #header, body #footer {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 950px;
  height: 100px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #header, * html body #footer {
  overflow-x: hidden;
}
/* line 267, ../../../app/stylesheets/screen.scss */
body #footer {
  padding: 100px;
  background-color: #176482;
  color: #DDD;
}
/* line 274, ../../../app/stylesheets/screen.scss */
body #logo {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 470px;
  margin-top: 10px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #logo {
  overflow-x: hidden;
}
/* line 279, ../../../app/stylesheets/screen.scss */
body #topnav {
  display: inline;
  float: left;
  margin-right: 0;
  width: 470px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #topnav {
  overflow-x: hidden;
}
/* line 283, ../../../app/stylesheets/screen.scss */
body #socialmedia {
  padding-top: 5px;
  padding-right: 13px;
  float: left;
}
/* line 289, ../../../app/stylesheets/screen.scss */
body #login a, body #login a:visited, body #login a:active {
  color: #999;
}
/* line 293, ../../../app/stylesheets/screen.scss */
body #login {
  padding: 2px;
  margin-right: 0px;
  border-bottom-right-radius: 6px;
  -moz-border-radius-bottomright: 6px;
  -webkit-border-bottom-right-radius: 6px;
  border-bottom-left-radius: 6px;
  -moz-border-radius-bottomleft: 6px;
  -webkit-border-bottom-left-radius: 6px;
  background-color: white;
  border: 1px solid #DDD;
  float: left;
  font-size: 11px;
  color: #999;
  vertical-align: top;
  width: 366px;
  text-align: center;
}
/* line 306, ../../../app/stylesheets/screen.scss */
body #login table {
  margin-left: 16px;
}
/* line 309, ../../../app/stylesheets/screen.scss */
body #links {
  padding: 10px;
}
/* line 312, ../../../app/stylesheets/screen.scss */
body #login input[type="text"], body #login input[type="password"] {
  border: 1px solid #DDD;
  font-size: 11px;
  height: 13px;
  width: 68px;
  color: #999;
  padding: 3px;
  margin-right: 5px;
}
/* line 316, ../../../app/stylesheets/screen.scss */
body #login input[type="image"] {
  height: auto;
  width: auto;
  border: none;
}
/* line 322, ../../../app/stylesheets/screen.scss */
body #sidebar {
  display: inline;
  float: left;
  margin-right: 10px;
  width: 310px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #sidebar {
  overflow-x: hidden;
}
/* line 326, ../../../app/stylesheets/screen.scss */
body #content {
  display: inline;
  float: left;
  margin-right: 0;
  width: 630px;
}
/* line 138, ../../../../../../../Library/Ruby/Gems/1.8/gems/compass-0.10.1/frameworks/blueprint/stylesheets/blueprint/_grid.scss */
* html body #content {
  overflow-x: hidden;
}
