=f.error_messages
.field
  %p=f.label :username 
  %p=f.text_field :username
.field
  %p=f.label :email 
  %p=f.text_field :email
-if @user.new_record? && !params[:hide_password]
  .field
    %p=f.label :password 
    %p=f.password_field :password
  .field
    %p=f.label :password_confirmation
    %p=f.password_field :password_confirmation
%a#expand_profile
  More profile fields....
.field
  %p=f.label :photo
  %p=f.file_field :photo, {:class=>"file"}
.profile
  .field
    %p=f.label :first_name
    %p=f.text_field :first_name
  .field
    %p=f.label :last_name
    %p=f.text_field :last_name
    /  .field
    /    %p=f.label :name_is_public
    /    %p=f.check_box :public_name
  .field
    %p=f.label :twitter
    %p=f.text_field :twitter_name
    / .field
    /   %p=f.label :location
    /   %p=f.text_field :location
    / .field
    /   %p=f.label :bio
    /   %p=f.text_field :bio
  .field
    %p=f.label :url
    %p=f.text_field :url
.field
  =f.check_box :allow_email
  =f.label :allow_email, "Allow us to contact you when new features are added to Kuwest!"

:javascript
  $(function() {
    #{"$('a#expand_profile').click();"  unless @user.twitter_name.blank?}
  });
