%h2 Update Profile
.panel
  -form_for @user, :url => "/users/update", :html => {:multipart => true} do |f|
    =render :partial => "form", :locals => {:f=>f}
    %p=f.submit "Update", { :class=>"button" }
