%h1=@user.username
-if @user.photo.exists?
  =image_tag @user.photo.url(:small)
#totals
  -@totals.each do |t|
    %p{:class=>'selected category', :category=>"#{t.verb}"}= "#{t.verb} #{t.total} #{t.noun}"
#pages
  -@user.wins.each do |w|
    .status
      =render :partial => "shared/status", :locals => {:w=>w}
