%h1
  Top Users
%table
  %tr
    %th
      username
    %th
      level&nbsp;&nbsp;
    %th
      xp
  -@users.each do |u|
    %tr
    %td
      %a{:href=>"/users/#{u.username}"}
        =u.username
    %td
      =u.level
    %td
      =u.xp || "10"

