%h2 Sign Up
.panel.small
  -form_for resource_name, resource, :url => registration_path(resource_name) do |f|
    =f.error_messages
    .field
      %p=f.label :email 
      %p=f.text_field :email
    .field
      %p=f.label :password 
      %p=f.password_field :password
    .field
      %p=f.label :password_confirmation
      %p=f.password_field :password_confirmation

    %p=f.submit "Sign up", {:class=>"button"}
=render :partial => "shared/devise_links" 
