#nav
  -if user_signed_in?
    %a{:href=>"/wins/new"}
      new status
    |
    =link_to 'view profile', user_show_path(current_user)
    |
    %a{:href=>'/profile'}
      edit profile
    |
    %a{:href=>'/users/logout'}
      logout
  -else
    %a{:href=>"/users/login"}
      login
    |
    %a{:href=>"/users/new"}
      signup