%form{:id=>"status_form", :method=>"POST", :action=>"/wins/create", :padding => "0px"}
  %input{:id=>"win", :type=>"text", :name=>"body", :title=>"(ex: ran 3.2 miles, read 10 pages )"}
  %input{:type=>"image", :id=>"submit_activity", :src=>"/images/green-go.png", :border=>"0", :style=>"position:relative; top:12px; left:5px;"}
