%form{:id=>"win_form", :method=>"POST", :action=>"/wins/create"}
  .field
    %input{:id=>"win", :type=>"text", :name=>"body", :value=>"(ex: ran 3.2 miles, read 10 pages )"}
    %button{:type=>"submit", :id=>"submit_win"}
      Go!