- w ||= @win
%tr.status
  %td.profile_picture{:valign=>"top"}
    %a{:href=>"/users/#{w.user.username}", :class=>"username"}
      =image_tag w.user.photo.url(:thumb), :class=>"thumb"
  %td.detail
    %span.username
      %a{:href=>"/users/#{w.user.username}", :class=>"username"}
        =w.user.username
    =render :partial => "shared/status", :locals => {:w=>@win || w}
