-win ||= @win
-if (win.photo.exists?)
  .status_image
    =image_tag win.photo.url(:small)
-else
  -if (current_user && current_user.id == win.user.id)
    %a.upload{:href=>"", :id=>"upload#{win.id}", :status=>win.id} Upload an Image
