=w.verb
%span.amount
  =w.amount && w.amount.pretty
=w.noun
=days_ago(w.created_at.to_date)
=render :partial=>"shared/status_photo", :locals=>{:win=>w}
.comments
  -w.comments.each do |c|
    =render :partial=>"shared/comment", :locals=>{:comment=>c}
.action_wrapper
  .actions
    -if (!current_user.nil? && current_user.id == w.user.id)
      %a.delete{:href=>"", :status=>w.id} Delete
    -if (!current_user.nil?)
      %a.comment{:href => ""} Comment
      .comment_box{:class => "comment"} 
        %input{:class => "comment_description", :type => "text", :id => "comment_#{w.id}"}
        %button{:type => "submit", :class => "submit_comment" } 
          Add Comment
