// This import applies a global reset to any page that imports this stylesheet.
@import "blueprint/reset";

// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";

// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

// Import the non-default scaffolding module.
@import "blueprint/scaffolding";

// To generate css equivalent to the blueprint css but with your configuration applied, uncomment:
// +blueprint

//Recommended Blueprint configuration with scoping and semantic layout:
@include blueprint-scaffolding("body.bp");

body.bp {
  @include blueprint-typography(true);
  @include blueprint-utilities;
  @include blueprint-debug;
  @include blueprint-interaction;
  // Remove the scaffolding when you're ready to start doing visual design.
  // Or leave it in if you're happy with how blueprint looks out-of-the-box
}
.alert {
  color: black;
  background-color: #7280A7;
  color: #222126;
  position: absolute;
  top:0px;
  left:0px;
  width:100%;
  padding:10px;
  text-align:center;
}
.panel {
  color:#DDD;
  background-color: #161d33;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  padding: 30px;
  margin: 15px 0px;
}
.login {
  width:600px;
}
form.bp {
  @include blueprint-form; }

body {
  font-family:'Helvetica';
  font-size: 16pt;
  width:960px;
  margin-left:auto;
  margin-right:auto;
}
a, a.visited, a.hover {
  text-decoration:none;
  font-weight:bold;
  color:#161d33;
}
.points {
  font-size:8pt;
  color: #999;
  margin-top:4px;
}
.detail {
  padding: 10px;
}
h1 {
  font-size:24pt;
  font-weight:bold;
}
.field {
  margin-top:17px;
  margin-bottom:7px;
}

label {
  padding-top:7px;
  color:#DDD;
}
input {
  font-size: 18pt;
  padding: 5px;
  height: 30px;
}
button, .button {
  font-size: 14pt;
  height: 46px;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
}

div.standout {
  margin-top: 30px;
  margin-bottom: 20px;
}
.light {
  color:#999;	
}
#win {
  width:700px;
}
.user_profile {
  float:left;
}
.clearfix {
  clear:both;
}
// Page layout can be done using mixins applied to your semantic classes and IDs:
body.two-col {
  #container {
    @include container; }
  #header, #footer {
    @include column($blueprint-grid-columns); }
  #sidebar {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3);
    @include column($sidebar-columns); }
  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(2 * $blueprint-grid-columns / 3);
    // true means it's the last column in the row
    @include column($content-columns, true); } }
