@import "blueprint/reset";
// To configure blueprint, edit the partials/base.sass file.
@import "partials/base";
// Import all the default blueprint modules so that we can access their mixins.
@import "blueprint";

$lightGreen:#e7f9e2;
$green:#83c12d;
$red:#990000;
$green:#bce18a;
$lightBlue:#eef9fa;
$blue:#1183b0;
$darkGreen:#245900;

.error {
  color:$red;
  font-weight:bold;
  padding:30px;}

.thumb { 
 width:48px;
 height:48px}

@mixin center {
  margin-left:auto;
  margin-right:auto;}

@mixin roundedBottom($radius = 4px) {
  border-bottom-right-radius:$radius;
  -moz-border-radius-bottomright:$radius;
  -webkit-border-bottom-right-radius:$radius;
  border-bottom-left-radius:$radius;
  -moz-border-radius-bottomleft:$radius;
  -webkit-border-bottom-left-radius:$radius;}

@mixin rounded($radius = 4px) {
  border-radius:$radius;
  -moz-border-radius:$radius;
  -webkit-border-radius:$radius; }

.green {
  background-color:$green; 
  @include rounded(4px);
  text-align:center;
  width:140px;
  display: inline-block; 
  margin:4px;
  padding: 14px 8px;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  line-height: 1;
  box-shadow: 0 1px 3px #999;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  background-image: -moz-linear-gradient(100% 100% 90deg, $green, $darkGreen);
  background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from($green), to($darkGreen));}


.upload_form {
  display:none;}

.action_wrapper input, .action_wrapper input.file, .action_wrapper button {
  font-size:10px; height:24px; width:200px;}

.action_wrapper input:submit {
  font-size:10px; height:24px; width:100px; }

.status_image, .profile_image {
  cursor: pointer; }

.image_wrapper {
  padding:0px;
  margin:0px;
  text-align:center;
  top:0px;
  height:0px;
  background-color:black;
  position:fixed; };

@mixin message {
  position: fixed;
  top:0px;
  left:0px;
  width:100%;
  padding:10px;
  z-index:9999;
  text-align:center; }


@mixin subtleForm {
  border:1px solid #DDD;
  font-size:11px;
  height:13px;
  width:68px;
  color:#999;
  padding:3px;
}

.quests {
  padding-left:139px;
  padding-top:62px;
  height:91px;
}
.form {
  padding-top:0px;
}

#what {
  color:#727c80;
  font-weight:bold;
  padding-top:21px;
  margin-bottom:-10px;
  padding-left:25px;}

#ku_form { 
  background-image: url(/images/ku-panel.jpg);
  height:268px;
  width: 664px;
}
#everyones_updates {
  padding:20px;
  @include rounded(5px);
  width:620px;
  background-color:white;
  background: -webkit-gradient(linear, 0 0, 0 120, from($lightBlue), to(white));  
  background: -moz-linear-gradient(top, $green 120, white);
  margin-top:20px;
  margin-left:2px;
  margin-bottom:10px;
  -moz-box-shadow: 1px 1px 2px 1px #BBB;
  box-shadow: 1px 1px 2px 0px #BBB;
  -webkit-box-shadow: 1px 1px 2px 1px #BBB;
}
.rocket {float:left;}
.others { float:left; padding:16px 5px;} 
.alert {
  @include message;
  background-color: #7280A7;
  color: #222126;
}
h2 {
  padding-top:9px;
  color:$blue;
}
.error {
  @include message;
  background-color: #550000;
  color: #FFFFFF;
}
.notice {
  @include message;
  background-color: #7280A7;
  color: #222126;
}
.panel {
  @include rounded(10px);
  color:#444;
  background-color: $lightGreen;
  padding: 30px;
  margin: 15px 0px;
}
.errorExplanation {
  color:#EBC653;
}
.errorExplanation p  {
  padding-top:20px;
}

.errorExplanation ul{
  padding:20px;
}
.small {
  width:600px;
}
form.bp {
  @include blueprint-form; }

body {
  @include center;
  background-attachment:fixed;
  font-family:'Helvetica';
  font-size: 16pt;
  background-image:url(/images/background.jpg);
  height:100%;
}
.content {
  width:960px;
  @include center;
}
.bar {
  background-color:$green;
  width:100%;
  height:3px;
}
a, a.visited, a.hover {
  text-decoration:none;
  font-weight:bold;
  color:$blue;
}
.points {
  font-size:8pt;
  color: #999;
  margin-top:4px;
}
.comments {
  font-size:8pt;
  color:#999;
  margin:10px;
}
.detail {
  padding: 10px;
  height:70px;
  width:500px;
  vertical-align:top;
}
.profile_picture {
  vertical-align:top;
  padding: 11px 0px;
}
.info {
  font-size:9pt;
  border-top:2px solid #EEE;
  padding:5px 0px 12px 0px;
}
h1 {
  font-weight:bold;
  font-size:24pt;
  font-weight:bold;
}
.field {
  margin-top:17px;
  margin-bottom:7px;
}

label {
  padding-top:7px;
}
input[type="text"], input[type="password"] {
  font-size: 18pt;
  padding: 5px;
  height: 30px;
  border: 1px solid #161d33;
}
.clear {clear:both;}
button, .button {
  font-size: 14pt;
  height: 46px;
  line-height: 1;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-box-shadow: 0 1px 3px #999;
  -webkit-box-shadow: 0 1px 3px #999;
  text-shadow: 0 -1px 1px #222;
  border-bottom: 1px solid #222;
  position: relative;
  cursor: pointer;
  margin-top: 15px;
}

div.standout {
  margin-top: 30px;
  margin-bottom: 20px;
}
.light {
  color:#999;	
}
#win {
  margin-left:20px;
  width:540px;
}
.user_profile {
  float:left;
}

.clearfix {
  clear:both;
}
.comment-box{
  background-color:white
}

input.file {
  width:200px;
  height:40px;
}
#nav {
  font-size:12px;
}
#user-information{
  float: left;
  width: 248px;
}
#totals{
  float: left;
  margin-top: 10px;
  width: auto;
}
#graph-container{
  float: right;
  width: 712px;
  clear: right;
  margin-bottom: 10px;
}
#pages {
  margin-left: 278px;
}

.detail:hover {
  background-color:#F2F2F2;
}
.detail:hover .actions {
  display:block;
}

.action_wrapper {
  padding-bottom:10px;
  height:17px;
}
.actions {
  display:none;
  font-size:10px;
  vertical-align:text-bottom;
  padding-top: 5px;
}
noborder {
  border:none;
}
.clearFix {
  clear:both;
}
// Page layout can be done using mixins applied to your semantic classes and IDs:
body {
  #container {
    background-color:$lightBlue;
    @include container; }

  #header, #footer {
    @include column($blueprint-grid-columns);
    height:100px;
    text-align:center;
  } 

  #footer a, #footer a:visited, #footer a:active {
    color:white;
    padding:0px 10px;}

  #footer {
    font-size:12px;
    padding-top:20px;
    width:100%;
    background-color:#176482;
    color:#DDD;
  }


  #logo {
    @include column(floor(($blueprint-grid-columns/2)));
    margin-top:10px;
  }

  #topnav {
    @include column(floor(($blueprint-grid-columns/2)), true)
  }

  #socialmedia {
    padding-top:5px;
    padding-right:13px;
    float:left;
  }

  #login a, #login a:visited, #login a:active {
    color:#999;
  }

  #login {
    padding:2px;
    margin-right:0px;
    @include roundedBottom(6px);
    background-color:white;
    border:1px solid #DDD;
    float:left;
    font-size:11px;
    color:#999;
    vertical-align:top;
    width:366px;
    text-align:center;
  }
  #login table {
    margin-left:16px;
  }
  #links {
    padding:10px 35px;
    float:right;
 }
  li {
    list-style: none outside none;
    padding:10px 4px;
}
  #links li { 
    border-left:1px solid #CCCCCC;
    border-right:1px solid #FFFFFF;
    float:left;
    font-size:12px;
    list-style:none outside none;
    padding: 0px 9px;
  }  
  #links li.first { 
    border-left:none;
    border-right:none;
  }  
  #login input[type="text"], #login input[type="password"] {
    @include subtleForm;
    margin-right:5px;
  }
  #login input[type="image"] {
    height:auto;
    width:auto;
    border:none;
  } 
  #container  {
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    width:960px;
    margin-left:auto;
    margin-right:auto;
}

  .details {
    padding: 5px 11px;
  }
  #sidebar {
    box-shadow: 0 1px 3px #CCC;
    -moz-box-shadow: 0 1px 3px #CCC;
    -webkit-box-shadow: 0 1px 3px #CCC;
    font-size:13pt;
    margin-top:35px;
    background-color:white;
    // One third of the grid columns, rounding down. With 24 cols, this is 8.
    $sidebar-columns: floor($blueprint-grid-columns / 3) - 1;
    @include column($sidebar-columns, true); }

  #content {
    // Two thirds of the grid columns, rounding up.
    // With 24 cols, this is 16.
    $content-columns: ceil(($blueprint-grid-columns /3)*2) + 1;
    // true means it's the last column in the row
    @include column($content-columns); } 
}

