.panel
  %h1 Edit Status
  -semantic_form_for @win do |f|
    =f.input :verb
    =f.input :amount
    =f.input :noun
    =f.submit "Update!", :class=>"green"
  -content_for :sidebar do
    = render :partial => 'shared/homesidebar'

