%h1#pick
  Pick a Quest...
#ku_form
  .quests
    %a{:href=>"/users/new"}
      .green Write 100 Blog Posts 
    %a{:href=>"/users/new"}
      .green Read 1000 Pages
    %a{:href=>"/users/new"}
      .green Run 1000 Miles
  #what
    Enter what you've done to get started now...
  .form
    =render :partial => "shared/new_status"
#everyones_updates
  .rocket
    %img{:src=>"/images/rocket.png"}
  .others
    %h2 What others are doing right now:
  .clear 
  %table.win
    -users =[]
    -@wins.each do |w|
      -unless(users.any? { |u| u == w.user.id})
        =render :partial => "shared/status_tr", :locals => {:w=>w}
      -users << w.user.id
  .info
    %a{:href=>"/top-users"}
      Top Users
-content_for :sidebar do
  = render :partial => 'shared/homesidebar'

