%h1#pick
  Pick a Quest...
#ku_form
  .quests
    .green.soon Write 100 Blog Posts 
    .green.soon Read 1000 Pages
    .green.soon Run 1000 Miles
  #what
    Enter what you've done to get started now...
  .form
    =render :partial => "shared/new_status"
#everyones_updates
  .rocket
    %img{:src=>"/images/rocket.png"}
  .others
    %h2 What others are doing right now:
  .clear 
  %table.win
    -@wins.each do |w|
      =render :partial => "shared/status_tr", :locals => {:w=>w}
  .info
    %a{:href=>"/top-users"}
      Top Users
-content_for :sidebar do
  = render :partial => 'shared/homesidebar'

