#ku_form
  .quests
    .green.soon Write 100 Blog Posts 
    .green.soon Read 1000 Pages
    .green.soon Run 1000 Miles
  #what
    Or just log what have you done...
  .form
    =render :partial => "shared/new_status"
%table.win
  -@wins.each do |w|
    =render :partial => "shared/status_tr", :locals => {:w=>w}
