#ku_form
  .quests
  #what
    Or just log what have you done...
  .form
    =render :partial => "shared/new_status"
%table.win
  -@wins.each do |w|
    =render :partial => "shared/status_tr", :locals => {:w=>w}