.woah{:style=>"padding-top:10px; padding-bottom:-10px; font-size:32px; "} 
  What have you done?
=render :partial => "shared/new_status"
-@wins.each do |w|
  %table.win
    =render :partial => "shared/status_tr", :locals => {:w=>w}