%h1 Kuwest.com
%h3 Pick a quest.  We dare you.

-@wins.each do |w|
  %table.win   
    %tr
      %td.profile_picture
        %img{:src=>"/images/user/#{w.user.username == "ignu" ? "ignu.png" : "megatron.jg"}", :height=>42, :width=>42}
      %td.detail
        %a{:href=>"/users/#{w.user.username}", :class=>"username"} 
          =w.user.username
        =w.verb
        %span.amount
          =w.amount
        =w.noun
        .points
          (+5pts)
          %a.comment.link Comment
          .comment{:class => "comment"} 
            %input{:type => "text", :id => "comment_#{w.id}"} 
            %input{:type => "submit", :class => "submit_comment", :value => "Add Comment"} 
