.tip_detail
  %h1 How to post from Twitter:
  .paragraph
    Simply reply on twitter to @kuwest or include hashtag #kuwest in your update.
  .paragraph
    If you don't already have an account on kuwest, that's fine!  One will be created for you with your twitter username.
  .paragraph
    In one to five minutes your update will appear with the account you specified.
-if @show_sidebar
  -content_for :sidebar do
    = render :partial => 'shared/homesidebar'
